html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #D8D9CF;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

/* Header */

/* nav */
nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

nav > div > a {
  color: white;
  font-size: 3rem;
  margin-right: 2.5rem;
}

nav > div > a:hover {
  color: #787A91;
}

.title {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 18rem;
  font-size: 3.2rem;
  color: white;
}

.tipo-prenda {
  margin-left: 5rem;
}

.carrito {
  margin-left: 0;
  margin-right: 5rem;
  font-size: 5rem;
  color: white;
}

.carrito:hover {
  color: #787A91;
}

/* List Prop */
.bienvenida {
  background-color: #3C2317;
  padding: 0.7rem;
  padding-top: 1rem;
  height: 5rem;
}

.bienvenida > h2 {
  margin-top: 0;
  font-size: 2rem;
  color: white;
  text-align: center;
}

/* ItemCount */
h3 {
  font-size: 3rem;
  margin-left: 5rem;
}

.add, .remove {
  font-size: 2rem;
  color: white;
  background-color: black;
  border: none;
  padding: 1.2rem;
  border-radius: 2rem;
}

.add {
  margin-left: 5rem;
}

.remove:hover {
  color: #787A91;
}
.add:hover {
  color:#787A91;
}

span {
  font-size: 2.5rem;
  margin: 3rem;
}

.add-cart {
  margin-left: 8rem;
  margin-top: 2rem;
  color: white;
  background-color: rgb(0, 0, 0);
  font-size: 2rem;
  border: none;
  padding: 1.2rem;
  border-radius: 2rem;
}

.add-cart:hover {
  color: rgb(94, 94, 94);
}

button:hover {
  cursor: pointer;
}

.img-products {
  width: 10rem;
}